{% extends "base.html" %}
{% block title %}{{parent.comment|truncatechars:25}} | Genome News{% endblock %}
{% load humanize %}
{% load threadedcomments_tags %}
{% load extrafilter %}

{% block content %}
{% get_comment_count for post as comment_count %}
<div id="comments">
        <ul>
        <li id="c{{ parent.id }}">{# c## is used by the absolute URL of the Comment model, so keep that as it is. #}
            <div class="comment">
              <div class="left">
                <a href="" class="up">^</a>
              </div> <!-- /#left //-->
              <div class="right">
                <div class="commentdetails">
                <span class="user">
                  <a href="{% url 'profile' slug=parent.user.username %}">{{ parent.user.username }}</a>
              </span> <!-- user-->
                  <span class="time">{{ parent.submit_date|naturaltime }}</span>
                  {% if parent.user == user %}
                 | <a class="update" href="{% url 'link_update' pk=object.pk %}">edit</a> |
                  <a class="delete" href="{% url 'link_delete' pk=object.pk %}" >delete</a>
                  {% endif %}
                </div> <!-- /#commentdetails //-->
                <div class="text">
                    {{ parent.comment|linebreaks }}
                </div> <!-- /#text //-->
              </div> <!-- /#right //-->
          </div> <!-- /#comment //-->
        </li></ul>
</div>
<div class="commentform">
    {% render_comment_form for object with parent.id %}
</div>
