
body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}

#page {
    background-color: #f6f6ee;
    width: 85%;
    margin: 0 auto;
}

#header {
    background-color: #ADEF61; /* Lime green */
    width: 100%;
    height: 20px;
    padding: 2px 0;
    margin-bottom: 10px;
}

#header a {
    text-decoration: none;
    color: black;
}

#header h1 {
    display: inline-block;
    position: relative;
    bottom: 4px;
    font-family: Verdana;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#header a.logo {
    border: 1px solid white;
    margin-left: 2px;
    display: inline-block;
    height: 18px;
    width: 18px;
}

#header #nav {
    display: inline;
    position: relative;
    top: -4px;
}

#header #nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#header #nav ul li {
    display: inline;
}

#header #nav ul li a {
    display: inline;
    margin: 0 3px;
}

#header #user {
    float: right;
    margin: 2px 5px 0 0;
    display: inline-block;
}

/* Content format */
#content {
    clear: both;
}

.entry{
    height: 32px;
    width: 85%;
    margin: 5px 0 10px 0;
    padding: 0 7px;
}

.entry .title a {
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    text-decoration: none;
}

.entry .title a:visited {
    color: #828282; /* Gray */
}

.entry .left, .comment .left {
    height: 30px;
    float: left;
}

.entry .right, .comment .right {
    height: 30px;
    clear: left;
    margin: 0 0 0 5px;
    display: inline-block;
}

.entry .domain,  .entry .bot, .entry .rank, .comment{
    color: #828282; /* Gray */
}

.entry .domain {
    font-size: 8pt;
}

.entry .bot {
    font-size: 7pt;
}

.entry a.up {
    text-indent: -999999px;
    display: inline-block;
    width: 10px;
    height: 15px;
    background: url("../images/grayarrow.gif") no-repeat center 3px;
}

/* Home format */
a {
    color: #828282; /* Gray */
    text-decoration: none;
}

p a#more {
    margin-left: 20px;
    color: #828282; /* Gray */
    text-decoration: none;
}

.info  {
    padding: 20px;
}

hr {
    border: 1px solid #ADEF61;
}

#footer {
    text-align: center;
    padding: 5px 20px 25px 20px;
}

#footer a {
    color: black;
    font-size: 9pt;
    text-decoration: none;
}

/* Submit new link format */
#submit-form {
    margin-left: 20px;
}

#submit-form p {
    width: 300px;
}

#submit-form p input, #submit-form p textarea {
    float: right;
    width: 220px;
}

#submit-form .submit {
    clear: both;
    float: none;
}

#submit-form .submit input {
    width: 60px;
    float: none;
    margin: 10px 0 0 72px;
}

.commentform, .description, .commentlist{
    width: 85%;
    margin: 5px 0 10px 0;
    padding: 0 20px;
}

.commentform {
    margin-top : 15px;
}


#comments > ul {
    list-style-type: none;
    padding :0px;
}

#comments ul li{
    margin-top: 20px;
    list-style-type: none;

}

.comment a.up {
    text-indent: -999999px;
    display: inline-block;
    width: 10px;
    height: 15px;
    background: url("../images/grayarrow.gif") no-repeat center 3px;
}

.comment .commentdetails{
    font-size: 8pt;
    margin : 0px;
}

.comment .text{
    font-size: 10pt;
    color : #000;
    margin : 0px;
    padding : 0px 0px 0px 0px;
}

.comment .reply{
    font-size: 8pt;
    color : #000;
    padding:0px;
    margin-top : 0px;
    text-decoration : underline;
}
