{% load staticfiles %}
<!Doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}" />
    <title>{% block title %}{% endblock %}</title>
  <head>
  <body>
    <div id="page">
      <div id="header">
        <a href="{% url 'top' %}" class="logo">
          <img src="{% static 'images/logo.png' %}" alt="Logo" />
        </a>
        <h1>Genome News</h1>
        <div id="nav">
          {% block navlist %}
          <ul>
            <li><a href="{% url 'newest' %}">new</a> | </li>
            <li><a href="">threads</a> | </li>
            <li><a href="">comments</a> | </li>
            <li><a href="">leaders</a> | </li>
            <li><a href="{% url 'submit' %}">submit</a></li>
          </ul>
          {% endblock %}
        </div>
        <div id="user">
            {% if user.is_authenticated %}
                <span id="username"><a href="{% url 'profile' slug=user.username %}">{{ user.username }}</a></span>
                <span id="karma">({{ user.userprofile.karma }})</span> |
                <span id="logout"><a href="{% url 'logout' %}">logout</a> </span>
            {% else %}
                <span id="login"> <a href="{% url 'login' %}">login</a> </span> |
                <span id="register"><a href="{% url 'registration' %}">register</a></span>
            {% endif %}

        </div> <!-- /#user //-->
     </div> <!-- /#header //-->

     <div id="content">
      {% block content %}
      {% endblock %}
     </div><!-- /#content //-->
    </div><!-- /#page //-->
  </body>
</html>
