{% extends "base.html" %}
{% block title %}Genome News{% endblock %}

{% block content %}
<div class="entry">
  <div class="left">
    <span class="rank">1.</span>
    <a href="" class="up">^</a>
  </div> <!-- /#left //-->

  <div class="right">
    <div class="top">
      <span class="title">In response to a blog post on Samsung Knox</span>
      <span class="domain">(djangoproject.com)</span>
    </div> <!-- /#top //-->
    <div class="bot">
      <span class="points">123</span> points
      by <span class="user">admin</span>
      <span class="time">7</span> hours ago |
      <a class="discuss">3 comments</a>
    </div> <!-- /#bot //-->
  </div> <!-- /#right //-->
</div>


<div class="entry">
  <div class="left">
    <span class="rank">2.</span>
    <a href="" class="up">^</a>
  </div> <!-- /#left //-->

  <div class="right">
    <div class="top">
      <span class="title">Lorem ipsum dolor sit amet</span>
      <span class="domain">(djangoproject.com)</span>
    </div> <!-- /#top //-->
    <div class="bot">
      <span class="points">123</span> points
      by <span class="user">admin</span>
      <span class="time">7</span> hours ago |
      <a class="discuss">3 comments</a>
    </div> <!-- /#bot //-->
  </div> <!-- /#right //-->
</div>

<p><a href="" id="more">More</a></p>
<hr />
<div id="footer">
    <a href="RSS">RSS</a> |
    <a href="">About</a>
</div>
{% endblock %}

