{% extends "base.html" %}
{% load humanize %}
{% load threadedcomments_tags %}
{% load extrafilter %}
{% block title %}{{title}} Genome News{% endblock %}

{% block content %}
{% for post in posts %}
{% get_comment_count for post as comment_count %}

<div class="entry">
  <div class="left">
    <span class="rank">{{ forloop.counter|add:posts.start_index|add:"-1" }}.</span>
    <a href="" class="up">^</a>
  </div> <!-- /#left //-->

  <div class="right">
    <div class="top">
      <span class="title"><a href="{{ post.url }}">{{ post.title }}</a></span>
      <span class="domain">
            {% if post.domain %}
                ({{ post.domain }})
            {% endif %}
    </span>
    </div> <!-- /#top //-->
    <div class="bot">
      <span class="points">{{ post.karma }}</span> points
      by <span class="user">
            <a href="{% url 'profile' slug=post.owner.user.username %}">{{ post.owner.user.username }}</a>
        </span> <!-- change css code-->
      <span class="time">{{ post.submitted_date|naturaltime|upto:","|add:" ago" }}</span> |
      <a class="discuss" href="{% url 'link_detail' pk=post.pk %}">{{ comment_count }} comments</a>
      {% if post.owner.user == user %}
     | <a class="update" href="{% url 'link_update' pk=post.pk %}">update</a> |
      <a class="delete" href="{% url 'link_delete' pk=post.pk %}" >delete</a>
      {% endif %}
    </div> <!-- /#bot //-->
  </div> <!-- /#right //-->
</div>
{% endfor %}

{% if posts.has_next %}
    <p><a href="?page={{ posts.next_page_number }}" id="more">More</a></p>
{% endif %}
<hr />
<div id="footer">
    <a href="RSS">RSS</a> |
    <a href="">About</a>
</div>
{% endblock %}
