{% extends "base.html" %}
{% load humanize %}
{% block title %}Genome News{% endblock %}

{% block content %}
<div>
<table border="0"><tr>
  <td valign="top">Username:</td><td>{{ object.user.user }}</td></tr>
  <tr><td valign="top">Created:</td><td>{{ object.user.created_at}}</td></tr>
  <tr><td valign="top">Karma:</td><td>{{ object.user.karma }}</td></tr>
  <tr><td valign="top">About:</td><td>{{ object.user.biography }}</td></tr>
<tr><td></td><td><a href="submitted?id=selectnull"><u>Posts</u></a></td></tr>

</table>
</div>
{% if object.username == user.username %}
<p><a href='{% url "edit_profile" %}'>Edit my profile</a></p>
{% endif %}


<hr />
{% endblock %}
