{% extends "base.html" %}
{% block title %}Post Submission | Genome News{% endblock %}

{% block content %}
{% csrf_token %}
{% if form.errors %}
    <ol>{{ form.non_field_errors }}</ol>
{% endif %}


<form method="post" action="">{% csrf_token %}

  <div id="submit-form">
    <p><label for="id_title"> Title:</label>{{ form.title }}</p>
    <p><label for="id_url"> URL:</label>{{ form.url }}</p>

    <p><strong>or</strong></p>

    <p><label for="id_description">Text:</label>{{ form.description }}</p>

    <p class="submit"><input type="submit" value="Submit"></p>
  </div>
</form>


<p class="info">Leave url blank to submit a question for discussion. If there is no url, the description (if any) will appear at the top of the thread. (Copy pasta from HN)</p>

{% endblock %}
