{% extends "base.html" %}
{% block title %}Genome News | Add comment{% endblock %}
{% load humanize %}
{% load i18n %}
{% load extrafilter %}
{% load threadedcomments_tags %}

{% block content %}
{% if form.errors %}
<h4> Please try again.</h4>
{% endif %}
{% get_comment_count for post as comment_count %}
<div class="entry">
  <div class="left">
    <a href="" class="up">^</a>
  </div> <!-- /#left //-->
  <div class="right">
    <div class="top">
      <span class="title"><a href="{{ post.url }}">{{ post.title }}</a></span>
      <span class="domain">
            {% if post.domain %}
                ({{ post.domain }})
            {% endif %}
    </span>
    </div> <!-- /#top //-->
    <div class="bot">
      <span class="points">{{ post.karma }}</span> points
      by <span class="user">
            <a href="{% url 'profile' slug=post.owner.user.username %}">{{ post.owner.user.username }}</a>
        </span> <!-- change css code-->
      <span class="time">{{ post.submitted_date|naturaltime|upto:","|add:" ago" }}</span> |
      <a class="discuss" href="{% url 'link_detail' pk=post.pk %}">{{ comment_count }} comments</a>
      {% if post.owner.user == user %}
     | <a class="update" href="{% url 'link_update' pk=post.pk %}">update</a> |
      <a class="delete" href="{% url 'link_delete' pk=post.pk %}" >delete</a>
      {% endif %}
    </div> <!-- /#bot //-->
  </div> <!-- /#right //-->
</div> <!-- /#entry //-->

<div class="commentform">
{% load comments %}
  <form action="{% comment_form_target %}?object_pk={{object_pk}}&ctype={{ctype}}&nopval=comment-error" method="post">{% csrf_token %}
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
    {% for field in form %}
      {% if field.is_hidden %}
        <div>{{ field }}</div>
      {% else %}
        <p
          {% if field.errors %} class="error"{% endif %}
          {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
          {{ field }}
        </p>
      {% endif %}
    {% endfor %}
    <p class="submit">
    <input type="submit" name="submit" class="submit-post" value="{% trans "Add comment" %}" />
    </p>
    <br>
  </form>
{% endblock %}
</div>
