{% extends "base.html" %}
{% block title %}{{comment.comment|truncatechars:25}} | Genome News{% endblock %}

{% load humanize %}
{% load comments %}
{% load i18n %}
{% load threadedcomments_tags %}
{% load extrafilter %}

{% block content %}
{% if form.errors %}
<h4> Please try again.</h4>
{% endif %}

<div class="entry">
        <div class="comment">
          <div class="left">
                <a href="" class="up">^</a>
          </div> <!-- /#left //-->
          <div class="right">
              <div class="commentdetails">
                <span class="user">
                  <a href="{% url 'profile' slug=comment.user.username %}">{{ comment.user.username }}</a>
              </span> <!-- user-->
                  <span class="time">{{ comment.submit_date|naturaltime }}</span>
                  | <a class="parent" href =
                  {% if comment.parent %}
                  "{% url 'detailcomment' comment_id=comment.parent.pk %}"
                  {% else %}
                  "{% url 'link_detail' pk=post.pk %}"
                  {% endif %}
                  >parent</a>
                  {% if comment.user == user %}
                 | <a class="update" href="#">edit</a> |
                  <a class="delete" href="#" >delete</a>
                  {% endif %}
                </div> <!-- /#commentdetails //-->
                <div class="text">
                    {{ comment.comment|linebreaks }}
                </div> <!-- /#text //-->
            </div> <!-- /#right //-->
        </div> <!-- /#comment //-->
</div>

<br>
<div class="commentform">
    {% get_comment_form for post as form with comment.id %}
    {% include "comments/replyform.html" %}
</div>

<div class="commentlist">
    {% render_comment_list for post with comment.id tree %}
</div>
<br>

{% endblock %}
