{% load comments i18n %}
{% load extrafilter %}
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
<div id="commentformdiv">

  {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
  {% for field in form %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% if field.errors %}<p>{{ field.errors }}</p>{% endif %}
      <p
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {{ field }}
      </p>
    {% endif %}
  {% endfor %}
  <p id="commentbutton">
    <input type="submit" name="submit" value="Reply">
    <input type="hidden" name="next" value="{% url 'detailcomment' comment_id=comment.id %}">
  </p>
 </div>
</form>
